extends ../layout/base.pug

block content 
    form(action="/", method="get")
        button 홈으로가기 버튼
    form(action="/img", method="post")
        input(type="text" name="name" required)
        input(type="text" name="size" required)
        input(type="submit" value="작성하기 버튼")     
